<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MBFrontController</display-name>
    <servlet-name>MBFrontController</servlet-name>
    <servlet-class>kr.co.tlf.ex.frontcontroller.MBFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MBFrontController</servlet-name>
    <url-pattern>/MBFrontController</url-pattern>
  </servlet-mapping>
  <display-name>MemberAuthentication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MBWriteCommand</display-name>
    <servlet-name>MBWriteCommand</servlet-name>
    <servlet-class>kr.co.tlf.ex.command.MBWriteCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MBWriteCommand</servlet-name>
    <url-pattern>/MBWriteCommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>frontController</display-name>
    <servlet-name>frontController</servlet-name>
    <servlet-class>frontController.frontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontController</servlet-name>
    <url-pattern>/frontController</url-pattern>
  </servlet-mapping>
</web-app>