<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation=
	   "http://www.springframework.org/schema/beans 
	   https://www.springframework.org/schema/beans/spring-beans.xsd"
>	   
	   <bean id = "car" class = "di.xml02.Car">	<!-- bean생성자 호출 -->
	   		<property name="tire" ref="kumhoTire"></property> <!--  setTire 함수를 호출 -->
	   		<property name="carName" value="TESLA"></property> <!--  setTire 함수를 호출 -->
	   		<property name="year" value="2024"></property> <!--  setTire 함수를 호출 -->
	   		<property name="stire" ref="hankookTire"></property> <!--  setTire 함수를 호출 -->
	   </bean>
	   <bean id = "hankookTire" class = "di.xml02.HankookTire" />
	   <bean id = "kumhoTire" class = "di.xml02.KumhoTire">
	   		
	   </bean>
	   
	   
</beans>